@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/font/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none; /* Standard, most browsers */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #6da49c;
  --secondary-color: #05574c;
  --tertiary-color: #fff;
  --success-color: #348c34;
  --danger-color: #d90000;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: Poppins-Regular;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}

#root {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

#root > div {
  position: relative;
  max-width: 620px;
}


body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  border: 7px solid #f3f3f3;
  border-top: 7px solid var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  overflow: hidden;
  background-image: url('../src/assets/img/Frame.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.login-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.error-text {
  font-family: monospace;
  color: red;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-bottom: 3px solid var(--primary-color);
  outline: none;
  margin-bottom: 2rem;
}

.form-input::placeholder {
  color: var(--primary-color);
  font-family: 'Poppins-Regular';
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  color: #07564C;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.login-footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: var(--primary-color);
}

.login-link {
  color: #fff;
  text-decoration: none;
}


/* Dashboard.css */
.dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  background-color: #f2f2f2;
  background-image: url('../src/assets/img/Frame.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 0;
}

.dashboard-sub-container {
  height: calc(100vh - 1009300px);
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-search {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 1.5rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  color: #fff;
}

.dashboard-search::placeholder {
  color: #fff;
  font-size: 14px;
}

.topbar.topbar-containter {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 0.75rem;
  margin-bottom: 30px;
}

.topbar.topbar-containter .buttons-container {
  display: flex;
  align-items: center;
}

.topbar.topbar-containter .buttons-container .button:not(:last-child) {
  margin-right: 0.75rem;
}

.topbar.topbar-containter .button {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.collections-story.collections-story-containter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  padding-top: 1rem;
  padding-bottom: 0;
  gap: 1rem;
  margin: auto;
  margin-top: .5rem;
  overflow: hidden;
  overflow-x: scroll;
  max-width: calc(100% - 20px);
}

.collections-story.collections-story-containter .story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collections-story.collections-story-containter .story-image:first-child {
  text-align: center;
  line-height: 5rem;
  background-color: #fff;
  font-size: 1.6rem;
  box-shadow: 0 0 9px 3px var(--primary-color);
}

.collections-story.collections-story-containter .story-image {
  width: 5rem;
  height: 5rem;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 8px 1px;
  border: none;
}

.collections-story.collections-story-containter .active .story-label {
  font-size: .85rem;
  font-weight: 700;
  font-family: monospace;
}

.collections-story.collections-story-containter .story-label {
  font-size: .64rem;
  text-align: center;
  margin: .4rem auto;
}


/* LeftMenu */
.leftmenu.leftmenu-containter {
  display: flex;
  position: fixed;
  top: 0;
  left: calc(-70vw - 28px);
  flex-direction: column;
  padding: 10px;
  width: 70vw;
  height: calc(100vh - 20px);
  background-color: #015148b8;
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(3px);
  transition: left 0.3s ease-in-out;
  box-shadow: 0 0 18px 5px #242424;
  z-index: 1;
}

.leftmenu.leftmenu-containter.show {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.leftmenu-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.leftmenu-overlay.show {
  display: block;
}

.leftmenu.leftmenu-containter .title-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #3f7b7396;
}

.leftmenu.leftmenu-containter .title-container .app-name {
  font-size: 5vw;
  font-weight: 700;
  color: #fff;
}

.leftmenu.leftmenu-containter .logo {
  width: 13vw;
  height: 13vw;
  margin: auto;
  margin-right: 0;
  background-color: #fff;
  border-radius: 50%;
}

.leftmenu.leftmenu-containter .menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  gap: 10px;
  background-color: var(--primary-color);
}

.leftmenu.leftmenu-containter .menu-item:last-child {
  margin-top: auto;
}

.leftmenu.leftmenu-containter .menu-item-icon {
  display: flex;
}

/* SubCollections */

.sub-collections.sub-collections-containter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  flex: 1;
  left: -1rem;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  margin-top: 20px;
}

.sub-collections.sub-collections-containter .sub-collection {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  gap: 1.5rem;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  color: #07564C;
  box-shadow: 0 0 16px -5px var(--primary-color);
  margin: 5px;
  min-width: calc(100% - 1.2rem);
}

.button-slider-wrapper {
  display: flex;
  /* width: calc(100% + 80px); */
  overflow-x: scroll;
  scrollbar-width: 0;  /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  /* max-width: 80px; */
}

.button-slider-wrapper::-webkit-scrollbar {
  display: none;
}

.sub-collections.sub-collections-containter > .sub-collection:first-child {
  justify-content: space-between;
  margin: 0;
  /* width: 100%; */
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  top: 0;
  border-radius: 0;
}

.sub-collections.sub-collections-containter .sub-collection > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-collections.sub-collections-containter .sub-collections-empty {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.sub-collections.sub-collections-containter .sub-collection span.sub-collection-image {
  min-width: 26px;
  min-height: 26px;
  padding: 4px;
  text-align: center;
  line-height: 1.8rem;
  background-color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 0 9px 0px var(--primary-color);
  border-radius: 50%;
  margin: 0 8px;
  margin-left: auto;
}

.sub-collections.sub-collections-containter .sub-collection .sub-collection-image {
  width: 5rem;
  height: 5rem;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px;
  border: none;
}

.sub-collections.sub-collections-containter .sub-collection .sub-collection-label {
  font-size: 1rem;
  text-align: left;
  margin: .4rem auto;
  font-weight: 700;
  font-family: monospace;
}

.sub-collections.sub-collections-containter .sub-collection .sub-collection-description {
  text-wrap: nowrap;
  font-size: .95rem;
  text-align: left;
  margin: .4rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-collections.sub-collections-containter .sub-collection .samples-count-label {
  font-size: .75rem;
  text-align: left;
  margin: .4rem auto;
}

.sub-collections.sub-collections-containter .cta-button {
  flex: 1 1 0%;
  min-width: 110px;
  margin: 4px;
  border: none;
  border-radius: 10px;
  background-color: #aaa;
}

.sub-collections.sub-collections-containter .cta-button.success {
  background-color: var(--success-color);
}

.sub-collections.sub-collections-containter .cta-button.danger {
  background-color: var(--danger-color);
}

/* Create Collection */

.create-collection-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

.create-collection-form {
  display: flex;
  flex-direction: column;
}

.create-collection-form button.create-collection-button {
  padding: 1rem;
  border-radius: 100px;
  border: navajowhite;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  height: 47.5px;
}

.form-group {
  display: flex;
}

/* Create Sample */

.create-sample-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

/* .create-sample-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  text-align: center;
} */

.create-sample-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--tertiary-color);
  text-align: left;
}

.create-sample-form {
  display: flex;
  flex-direction: column;
}

.create-sample-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.create-sample-form .form-input {
  padding: 0.8rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.create-sample-button {
  padding: 1rem;
  border-radius: 100px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  height: 47.5px;
}

.create-sample-button:hover {
  background-color: var(--primary-dark);
}

.error-text {
  color: var(--danger-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* List Samples Page */

.list-samples-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

.list-samples-card {
  height: calc(100% - 90px);
  background: white;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
  width: 100%;
  left: -1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.list-samples-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-align: left;
}

.samples-list {
  overflow-x: hidden;
  overflow-y: scroll;
}

.sample-wrapper {
  display: flex;
  overflow-x: auto;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.sample-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 0 0 13px -4px var(--primary-color);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  min-width: calc(100% - 2rem);
  min-height: 5rem;
}

.sample-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.sample-info {
  flex-grow: 1;
  text-align: left;
}

.sample-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}

.sample-description {
  font-size: 0.9rem;
  color: #666;
}

.delete-sample-button {
  min-width: 100px;
  background-color: var(--danger-color);
  color: white;
  border: none;
  margin: .5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.delete-sample-button:hover {
  background-color: darkred;
}

.no-samples-text {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.samples-header-collection-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 1.5rem;
  background-color: #fff;
  transition: background-color 0.3sease-in-out;
  color: #07564C;
  box-shadow: 0 0 16px -5px var(--primary-color);
  margin: 5px;
  min-width: calc(100% - 1.2rem);
  position: absolute;
  left: -5px;
  top: -5px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px;
  box-sizing: border-box;
}

.samples-header-collection-name span.cta-buttons {
  min-width: 26px;
  min-height: 26px;
  padding: 4px;
  text-align: center;
  line-height: 1.8rem;
  background-color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 0 9px 0px var(--primary-color);
  border-radius: 50%;
  margin: 0 8px;
  margin-left: auto;
}

/* Modasync Sample Details Page Styles - Mobile Only */

.sample-details-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

.sample-details-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% + 2rem);
  height: calc(62vh - 13.2%);
  top: calc(50vh - 83px);
  left: -1rem;
  background-color: var(--tertiary-color);
  border-radius: 1rem 1rem 0 0;
  overflow: scroll;
  padding: 5px;
  box-sizing: border-box;
}

.sample-details-upper-images-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  height: calc(50% - 95px);
  border-radius: 15px;
  overflow: hidden;
}

.sample-details-upper-images-container > img {
  width: calc(75% - 20px);
  object-fit: cover;
  /* border: 2px solid var(--primary-color); */
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 8px 3px var(--primary-color);
  margin: 8px;
  flex: 1;
}

.sample-details-container .main-image-overlay {
  margin: 8px;
  position: absolute;
  width: calc(100% - 95px);
  height: calc(100% - 16px);
  border-radius: 15px 0 0 15px;
  background: radial-gradient(#0000, #0007);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-details-container .thumbnail-container {
  /* width: calc(25% - 3x); */
  padding: 5px 0;
  padding-bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 25%;
}

.sample-details-container .thumbnail-container .thumbnail-image {
  width: calc(100% - 10px);
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 8px 3px var(--primary-color);
  margin: 5px;
  height: 75px;
  min-height: 75px;
  max-height: 75px;
}

.sample-details-container .thumbnail-container .thumbnail-image:first-child {
  margin-top: 3px;
}

.sample-details-container .thumbnail-container .thumbnail-image:last-child {
  margin-bottom: 0;
}

.sample-details-container .thumbnail-container .thumbnail-image.active {
  filter: blur(1px) brightness(1.3) grayscale(0);
}

.sample-details-container .zoom-in-container {
  /* background-color: var(--secondary-color); */
  position: relative;
  padding: 10px;
  border-radius: 50%;
  /* box-shadow: 0 0 8px 3px var(--primary-color); */
}

.zoom-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--tertiary-color);
}

.zoom-window-image {
  touch-action: pinch-zoom;
}

.btn-add-image {
  width: calc(100% - 10px);
  height: 50px;
  border-radius: 7px;
  border: none;
  margin: 5px;
  margin-top: 0;
  background-color: var(--success-color);
  box-shadow: 0 0 10px -2px var(--tertiary-color);
}

.btn-delete-image {
  background-color: var(--danger-color);
  color: white;
  border: none;
  margin: 2px;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.timeline-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  font-family: Arial, sans-serif;
}

.timeline-item {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}

.timeline-content {
  background-color: #f4f6fa;
  padding: 15px;
  border-radius: 8px;
}

.year {
  color: #2f69ff;
  font-size: 1.2em;
  margin: 0;
}

.title {
  color: #333;
  margin: 5px 0;
}

.description {
  color: #666;
  font-size: 0.9em;
  margin: 0;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #2f69ff;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.line {
  width: 2px;
  height: 50px;
  background-color: #2f69ff;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-timeline-element-content {
  padding: 9px !important;
  border-radius: 50px !important;
  padding-left: 15px !important;
  background-color: var(--primary-color) !important;
}

.vertical-timeline-element-date {
  display: none !important;
}

.vertical-timeline-element-icon.shadow-size-small {
  box-shadow: 0 0px 0 4px #dddddd !important;
}

.vertical-timeline-element-content-arrow {
  right: calc(100% - 1px) !important;
}