@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/font/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: Poppins-Regular;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}


body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 2rem);
  min-height: calc(100vh - 2rem);
  background-image: url('../src/assets/img/Frame.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.login-title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  color: #fff;
}

.error-text {
  font-family: monospace;
  color: red;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-bottom: 3px solid #6DA49C;
  outline: none;
  margin-bottom: 2rem;
}

.form-input::placeholder {
  color: #6DA49C;
  font-family: 'Poppins-Regular';
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  color: #07564C;
  background-color: #6DA49C;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.login-footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #6DA49C;
}

.login-link {
  color: #fff;
  text-decoration: none;
}


/* Dashboard.css */
.dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem;
  background-color: #f2f2f2;
  background-image: url('../src/assets/img/Frame.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: scroll;
}

.dashboard-search {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  background-color: #6DA39C;
  border: none;
  border-radius: 1.5rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  color: #fff;
}

.dashboard-search::placeholder {
  color: #fff;
  font-size: 14px;
}

.topbar.topbar-containter {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 0.75rem;
  margin-bottom: 30px;
}

.topbar.topbar-containter .buttons-container {
  display: flex;
  align-items: center;
}

.topbar.topbar-containter .buttons-container .button:not(:last-child) {
  margin-right: 0.75rem;
}

.topbar.topbar-containter .button {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  background-color: #6da1a3;
}

.collections-story.collections-story-containter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  padding-top: 1rem;
  padding-bottom: 0;
  gap: 1rem;
  margin: auto;
  margin-top: .5rem;
  overflow: hidden;
  overflow-x: scroll;
  max-width: calc(100% - 20px);
}

.collections-story.collections-story-containter .story-image {
  width: 5rem;
  height: 5rem;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 8px 1px;
  border: none;
}

.collections-story.collections-story-containter .story-label {
  font-size: .64rem;
  text-align: center;
  margin: .4rem auto;
}


/* LeftMenu */
.leftmenu.leftmenu-containter {
  display: flex;
  position: fixed;
  top: 0;
  left: calc(-70vw - 28px);
  flex-direction: column;
  padding: 10px;
  width: 70vw;
  height: calc(100vh - 20px);
  background-color: #015148b8;
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(3px);
  transition: left 0.3s ease-in-out;
  box-shadow: 0 0 18px 5px #242424;
}

.leftmenu.leftmenu-containter.show {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.leftmenu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.leftmenu-overlay.show {
  display: block;
}


